<%- include("partials/header.ejs") %>

    <main>
        <div class="webpages-titles"><h2>Recent Posts</h2></div>
        <div class="posts-homepage">
            <%# If the postsDataBase is empty it will show the following message. %>
            <% if (posts.length === 0) {%>
                <h2>No posts to show</h2>
            <%# If not, it will loop inside the array and render each one of the objects with forEach() %>
            <% } else { %>
                <% posts.forEach((post) => { %>
                    <div class="all-posts">
                        <article class="created-post <%= post.id %>">
                            <h3><%= post.title %></h3>
                            <p class="post-description"><%= post.description.slice(0, 150) %>...</p>
                            <h4><%= post.author %></h4>
                            <p><%= post.date %></p>
                            <%# This is where th button and hiddent input are placed, the hidden input that help us pass the post id without compromising it. %>
                            <div class="read-more-btn">
                                <form id="post-form" action="/posts/<%= post.title %>/read-more" method="POST">
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <button type="submit" class="btn">Read More</button>
                                </form> 
                            </div>
                        </article>
                    </div>
                <% }); %>
            <% }; %>
        </div>
        
    </main>

<%- include("partials/footer.ejs") %>