<%- include("partials/header.ejs") %>

<%# Renders the same page as post.ejs, but with previous info loaded, passed thanks to body-parser. %>
<main>
    <div class="webpages-titles"><h2>Edit Post</h2></div>
    <div class="post-creation">
        <form action="/save" method="POST">
            <input type="hidden" name="postId" value="<%= post.id %>">
            <div class="post-content">
                <label for="title">Title</label>
                <br>
                <input type="text" name="title" value="<%= post.title %>" required>
            </div>
            <div class="post-content">
                <label for="description">Description</label>
                <br>
                <textarea name="description" cols="70" rows="15" required> <%= post.description %> </textarea>
            </div>
            <div class="post-content">
                <label for="author">Author</label>
                <br>
                <input type="text" name="author" value="<%= post.author %>" required>
            </div>
            <br>
            <div class="save">
                <input type="submit" value="Save changes" class="btn">
            </div>
            
          </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>